<!-- Modal -->
<div id="callingModal" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-content form-horizontal">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="callerTitle">Incoming call...</h4>
        </div>

        <div class="modal-body">

            <div class="form-group bot0">
                <div class="col-sm-12">
                    <div id="callerImage" class="center-horizontal  avatar-thumbnail-square dark" style="width: 130px; height: 130px; background-size: cover;"></div>
                </div>
            </div>

            <div class="form-group bot20">
                <h3 id="callerName" class="col-sm-12 top10" style="text-align: center;">Friend calling</h3>
            </div>

            <div class="form-group">
                <div class="col-sm-12 text-center">
                    <button name="accept" type="button" class="btn btn-call btn-circle right20"><i class="glyphicon glyphicon-earphone"></i></button>
                    <button name="video" type="button" class="btn btn-call btn-circle right20"><i class="glyphicon glyphicon-facetime-video"></i></button>
                    <button name="reject" type="button" class="btn btn-call red btn-circle"><i class="glyphicon glyphicon-earphone glyph-135deg"></i></button>
                    <button name="cancel" type="button" class="btn btn-call red btn-circle" style="display: none;"><i class="glyphicon glyphicon-earphone glyph-135deg"></i></button>
                </div>
            </div>

        </div>

        <div class="clearfix"></div>
    </div>
</div>

<script src="/js/controllers/main/callingController.js"></script>