<div id="chat<%= group._id%>" class="main-pane container-fluid" style="display: none;">
    <div class="row row-eq-height chat-header">
        <div class="col-sm-3">
            <div class="left20 left avatar-thumbnail-square dark center-vertical" style='width: 130px; height: 130px; background: url(/uploads/<%= group.image%>) no-repeat center; background-size: cover;'></div>
            <h2 class="group-title"><%= group.name%></h2>
        </div>
        <div class="col-sm-5">
            <div class="row">
                <div class="col-md-12"><h4 class="top10 bot0">Members</h4></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="group-members">
                        <% for(var i=0; i<group.users.length; i++) {%>
                        <li class="col-sm-4 member-tab" data-id="585419550f91220ac85902b2">
                            <div class="avatar-thumbnail-square offline left" style="width: 25px; height: 25px; background: url(/uploads/<%= group.users[i].image %>) no-repeat center; background-size: cover;"></div>
                            <span><%= group.users[i].name %></span>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4 text-right">
            <button name="call" type="button" class="online-actions center-vertical btn btn-call btn-circle right20"><i class="glyphicon glyphicon-earphone"></i></button>
            <button name="video" type="button" class="online-actions center-vertical btn btn-call btn-circle right20"><i class="glyphicon glyphicon-facetime-video"></i></button>
            <% if (owner) { %>
                <a id="editBut" href="#" class="center-vertical btn btn-primary bot10" data-group="<%= group._id%>" data-toggle="modal" data-target="#groupModal">Edit</a>
            <% } %>
        </div>
    </div>
</div>