<%
var display = "";
if (settings) {
    display = "display: none;";
} %>

<div id="home-pane" class="main-pane container-fluid" style="<%= display %>">
    <div class="row top20">
        <div class="col-md-12">
            <h3>WELCOME</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>This is an <strong>alpha</strong> version of a videoconference web app based on <strong>WebRTC</strong>. Use of this web application is <strong>easy</strong> and <strong>fast</strong>, making it possible to establish a video conference with a single click!</p>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-12">
            <h3>TEST CONNECTION</h3>
        </div>
    </div>

    <div id="test-buttons">
        <div class="row">
            <div class="col-md-12">
                <p>You can test your connection by making a video call with yourself!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button id="testConnectionButton" type="button" class="btn btn-success">Call yourself </button>
            </div>
        </div>
    </div>

    <div id="test-pane" style="display: none;">
        <div class="row bot20">
            <div class="col-md-12">
                <button id="stopTestConnectionButton" type="button" class="btn btn-danger">End call</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <p>Connection results:</p>
                <div id="messages" style="background-color: white;"></div>
            </div>
            <div class="col-lg-4">
                <p>Local video (from your local camera)</p>
                <div id="my_local_video" style="width:320px; height: 240px;"></div>
            </div>
            <div class="col-lg-4">
                <p>Remote video (how others will see you)</p>
                <div id="my_subscribed_video" style="width:320px; height: 240px;"></div>
            </div>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-12">
            <h3>CONTACT</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>This web application is created by me, <strong>Adrià Llorens Martinez</strong>, an UdG student.</p>
            <p>You can contact me throught this email address: <a href="mailto:<%= support %>" style="color: blue;"><%= support %></a> </p>
        </div>
    </div>

</div>

<script src="/js/controllers/main/welcomeController.js"></script>
