<%
var display = "";
if (!settings) {
    display = "display: none;";
} %>

<div id="settings-pane" class="main-pane container-fluid" style="<%= display %>">

        <!-- Modal content-->
        <form method="post" action="/account/update" enctype="multipart/form-data" id="account-form-update" class="form-horizontal">

            <input type="hidden" id="email-tf" name="email" value="">

            <div class="form-group">
                <div class="col-sm-12">
                    <h1>Account settings</h1>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2"></div>
                <label class="control-label col-sm-2">Avatar</label>
                <div class="col-sm-6">
                    <div class="kv-avatar center-block" id="kv-avatar">
                        <input id="avatar" name="avatar" type="file" class="file-loading">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2"></div>
                <label class="control-label col-sm-2">Full name</label>
                <div class="col-sm-6">
                    <input id="name-tf" type="text" name="name" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2"></div>
                <label class="control-label col-sm-2">Gender</label>
                <div class="col-sm-6">
                    <div class="btn-group btn-group-justified" data-toggle="buttons">
                        <label id="maleRadio" class="btn btn-white">
                            <input type="radio" name="gender" value="male"/> Male
                        </label>
                        <label id="femaleRadio" class="btn btn-white">
                            <input type="radio" name="gender" value="female"/> Female
                        </label>
                    </div>
                </div>
            </div>

            <br>

            <div class="form-group">
                <div class="col-sm-4"></div>
                <div class="col-sm-6" style="border-top: 1px solid #5c5c5c;"></div>
            </div>

            <br>

            <div class="form-group">
                <div class="col-sm-2"></div>
                <label class="control-label col-sm-2">New Password</label>
                <div class="col-sm-6">
                    <input id="pass-tf" type="password" name="pass" class="form-control" placeholder="Type a new password">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2"></div>
                <label class="control-label col-sm-2">Confirm Password</label>
                <div class="col-sm-6">
                    <input id="pass2-tf" type="password" name="pass2" class="form-control" placeholder="Confirm the password">
                    <p style="margin-top: 5px;">* Leave the passwords in blank for keeping the current one</p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 form-loader">
                    <img class="gif-loader" src="/img/ajax-loader.gif" style="display: none;"/>
                    <button type="submit" class="btn btn-primary right">Save</button>
                </div>
                <div class="col-sm-2"></div>
            </div>

            <div class="clearfix"></div>
        </form>

</div>

<script src="/js/controllers/main/configController.js"></script>
<script src="/js/form-validators/accountValidator.js"></script>