<div id="chat<%= friend._id%>" class="main-pane container-fluid content-main" style="display: none;">

    <button type="button" class="btn btn-close-video" name="close"><i class="glyphicon glyphicon-remove"></i></button>

    <header class="row row-eq-height chat-header">
        <div class="col-sm-7">
            <div class="left20 left avatar-thumbnail-square dark" style='width: 130px; height: 130px; background: url(/uploads/<%= friend.image%>) no-repeat center; background-size: cover;'></div>
            <h2><%= friend.name%></h2>
            <!--<h3 style="margin-top: 10px;">friend.email</h3>-->
        </div>
        <div class="col-sm-2 text-center">
            <div class="calling-layout">
                <div class="chat-layout">
                    <h4 style="margin-top: 5px;">Layout</h4>
                    <button type="button" class="btn btn-outline-dark" name="layout1">Video & Chat</button>
                    <button type="button" class="btn btn-outline-dark active" name="layout2">Chat Only</button>
                    <button type="button" class="btn btn-outline-dark" name="layout3">Video Only</button>
                    <button type="button" class="btn btn-outline-dark" name="layout4">Big Video</button>
                </div>
                <div class="phone-layout">
                    <div id="muteAudioLocal" class="row" style="cursor: pointer;">
                        <div class="col-md-4"><img src="/assets/sound48.png"></div>
                        <div class="col-md-8"><h4 style="margin-top: 5px;" class="clickable-mute">Local microphone</h4></div>
                    </div>
                    <div id="muteAudioRemote" class="row" style="margin-top:10px;cursor: pointer;">
                        <div class="col-md-4"><img src="/assets/sound48.png"></div>
                        <div class="col-md-8"><h4 style="margin-top: 5px;" class="clickable-mute">Remote audio</h4></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 text-right">
            <button name="call" type="button" class="online-actions center-vertical btn btn-call btn-circle right20"><i class="glyphicon glyphicon-earphone"></i></button>
            <button name="end" type="button" class="online-actions center-vertical btn btn-call red btn-circle right20"><i class="glyphicon glyphicon-earphone glyph-135deg"></i></button>
            <button name="video" type="button" class="online-actions center-vertical btn btn-call btn-circle"><i class="glyphicon glyphicon-facetime-video"></i></button>
        </div>
    </header>

    <div id="conference<%= friend._id%>" class="row chat-body chat-conference">
        <div class="col-md-6 top15">
            <div id="localVideo<%= friend._id%>" class="center-horizontal conference-video left20 right20"></div>
        </div>
        <div class="col-md-6 top15">
            <div id="remoteVideo<%= friend._id%>" class="center-horizontal conference-video left20 right20"></div>
        </div>
    </div>

    <div id="scroll<%= friend._id%>" class="row chat-body chat-messages">
        <div id="messages<%= friend._id%>" class="col-sm-12 top10 bot10">

        </div>
    </div>

    <footer class="row chat-footer">
        <div class="col-sm-12 bot10 top10">
            <div class="input-group">
                <input id="inputChat<%= friend._id%>" type="text" class="form-control" placeholder="Type a message here">
                <span class="input-group-btn">
                    <button class="btn btn-default force-display" type="button" name="chat">Send</button>
                </span>
            </div>
        </div>
    </footer>

</div>