<link rel="stylesheet" href="/vendor/bootstrap.dark.min.css">
<link rel="stylesheet" href="/vendor/fileinput.min.css">
<link rel="stylesheet" href="/css/users.css">
<!--<link rel="stylesheet" href="/css/chat.css">-->
<link rel="stylesheet" href="/css/sidebar.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/util.css">
<script src="/vendor/jquery-2.2.3.min.js"></script>
<script src="/vendor/jquery.form.min.js"></script>
<script src="/vendor/jquery.flip.min.js"></script>
<script src="/vendor/bootstrap.min.js"></script>
<script src="/vendor/bootstrap-list-filter.min.js"></script>
<script src="/vendor/socket.io.min.js"></script>
<script src="/vendor/fileinput.min.js"></script>
<script src="/vendor/fileinput.min.js"></script>
<script src="/vendor/jquery.titlealert.min.js"></script>
<script src="/vendor/ion.sound.min.js"></script>
