<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <% include head.html %>
    <script src="/js/views/home.js"></script>
    <script src="/js/controllers/homeController.js"></script>
</head>
<body>

<!--Save passed variables-->
<script>
    var global = {};
    global.user = <%- JSON.stringify(user) %>;
    <% if (locals.chatId) { %>
        global.chatId = <%- JSON.stringify(chatId) %>;
    <% } %>
</script>

<!--Render controller-->
<script src="/js/controllers/renderController.js"></script>

<!--Top NavBar-->
<% include top/navbar.html %>
<% include top/friend-requests.html %>

<!--Sidebar controllers-->
<% include sidebar/add-friend.html %>
<% include sidebar/add-group.html %>
<% include sidebar/delete-friend-group.html %>

<div id="wrapper" class="top60">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <% include sidebar/sidebar.html %>
    </div>

    <!-- Page Content -->
    <div id="page-content-wrapper" class="content-wrapper">
        <button id="menu-toggle" type="button" class="btn btn-side"><i class="glyphicon"></i></button>
        <% include main/home.html %>
        <% include main/settings.html %>
        <% include main/calling.html %>
        <!--Chats-->
        <script src="/js/controllers/main/chatsController.js"></script>
        <script src="/js/controllers/main/chatController.js"></script>
    </div>

    <!--Licode-->
    <script src="/vendor/erizo.js"></script>
    <script src="/js/controllers/licodeController.js"></script>
    <script src="/js/controllers/licode/callController.js"></script>

</div>

<% include modals/form-errors.html %>

</body>
</html>