<!DOCTYPE html>
<html>
<head>
    <title>Invalid Link</title>
    <% include head.html %>
</head>
<body class="dark-background">

<div class="modal-form-errors" style="margin-top: 50px;">
    <div class="modal-dialog">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <button data-dismiss="modal" class="close">x</button>
                <h4>Invalid registration link</h4>
            </div>
            <div class="panel-body">
                There was an error with your registration link.
                <br>
                Please contact: <b></b>
            </div>
            <div class="panel-footer" style="text-align: center;">
                <a class="btn btn-primary" href="/">GO HOME</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>