<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <% include head.html %>
    <script src="js/views/login.js"></script>
    <script src="js/controllers/loginController.js"></script>
    <script src="js/form-validators/loginValidator.js"></script>
    <script src="js/form-validators/emailValidator.js"></script>
</head>
<body class="dark-background">

<div class="center-vertical-parent dark-background">
    <div id="login" class="center-vertical center-horizontal">
        <form id="form-login" method="post" action="/login" class="well">
            <h2>Videoconference App</h2>
            <h6>Please login to your account</h6>
            <hr>
            <div class="form-group">
                <label>Email</label>
                <input type="text" id="user-tf" name="user" class="form-control">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" id="pass-tf" name="password" class="form-control">
            </div>
            <div class="controls center">
                <button type="button" class="btn btn-default button-rememember-me right10"><span
                        class="glyphicon glyphicon-unchecked button-rememember-me-glyph"></span> Remember Me
                </button>
                <button type="submit" class="btn btn-primary button-sign-in"><span
                        class="glyphicon glyphicon-lock"></span> Sign
                    In
                </button>
            </div>
            <div class="clearfix"></div>
            <hr>
            <div class="btm-links">
                <div id="forgot-password" class="left left10"><a href="#">Forgot your password?</a></div>
                <div id="create-account" class="right right10"><a href="/signup">Create an account</a></div>
            </div>
            <div class="clearfix"></div>
        </form>
        <div class="row" style="margin-top: 20px; text-align: center;">
            <div class="col-md-8">
                <h3>Only available with Google Chrome</h3>
            </div>
            <div class="col-md-3" style="margin-left: -20px;">
                <img width="100px" src="/img/chrome.png"/>
            </div>
        </div>

        <p style="margin-bottom: 0; margin-top: 50px; width: 700px; margin-left: -150px; text-align: center;">* This application is in the <strong>Alpha</strong> version and may have some bugs.</p>
        <p style="margin-bottom: 0; width: 700px; margin-left: -150px; text-align: center;">* Also be aware that the messages sent through this app are not encrypted at any point.</p>
        <p style="margin-bottom: 0; width: 700px; margin-left: -150px; text-align: center;">* The use of <i>https</i> is obligatory for using the WebRTC API, and therefore, for call functionality.</p>

    </div>
</div>

<% include modals/alert.html %>
<% include modals/form-errors.html %>
<% include modals/lost-password.html %>

</body>
</html>