<!DOCTYPE html>
<html>
<head>
    <title>Reset password</title>
    <% include head.html %>
    <script src="js/views/reset.js"></script>
    <script src="js/form-validators/resetValidator.js"></script>
</head>
<body class="dark-background">

<div class="center-vertical-parent dark-background">
    <div class="modal show center-vertical center-horizontal" id="set-password">
        <div class="alert alert-danger hide modal-dialog"></div>
        <div class="modal-dialog" name="remove">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Reset Password</h4>
                </div>
                <div class="modal-body">
                    <form class="well" method="post" action="/account/reset-password" id="set-password-form">
                        <div class="form-group">
                            <label>Please enter your new password</label>
                            <input class="form-control required" type="password" name="pass" id="pass-tf"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="/" name="ok">Login now!</a>
                    <button class="btn btn-primary" type="submit" form="set-password-form" name="send" id="set-password-submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>