<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <% include head.html %>
    <script src="js/views/signup.js"></script>
    <script src="js/controllers/signupController.js"></script>
    <script src="js/form-validators/accountValidator.js"></script>
</head>
<body class="dark-background">

<div class="dark-background" style="margin-top: 50px;">
    <div id="account-form-container" class="center-horizontal">
        <form method="post" action="/account" id="account-form" class="form-horizontal well">
            <h2>Signup</h2>
            <hr>
            <div class="form-group">
                <label class="control-label col-sm-3">Avatar</label>
                <div class="col-sm-9">
                    <div class="kv-avatar center-block">
                        <input id="avatar-signup" name="avatar" type="file" class="file-loading">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Full name</label>
                <div class="col-sm-9">
                    <input id="name-tf" type="text" name="name" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Gender</label>
                <div class="col-sm-9">
                    <div class="btn-group btn-group-justified" data-toggle="buttons">
                        <label id="maleRadio" class="btn btn-white">
                            <input type="radio" name="gender" value="male" /> Male
                        </label>
                        <label id="femaleRadio" class="btn btn-white">
                            <input type="radio" name="gender" value="female" /> Female
                        </label>
                    </div>
                </div>
            </div>
            <hr>
            <h6>Credentials</h6>
            <div class="form-group">
                <label class="control-label col-sm-3">Email</label>
                <div class="col-sm-9">
                    <input id="email-tf" type="text" name="email" class="form-control disabled">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Password</label>
                <div class="col-sm-9">
                    <input id="pass-tf" type="password" name="pass" value="" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Repeat Password</label>
                <div class="col-sm-9">
                    <input id="pass2-tf" type="password" name="pass2" value="" class="form-control">
                </div>
            </div>
            <hr>
            <div class="form-buttons">
                <button type="submit" id="account-form-btn2" class="btn btn-primary right">Submit</button>
                <button type="button" id="account-form-btn1" class="btn btn-default right right10">Cancel</button>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>

<% include modals/form-errors.html %>
<% include modals/alert.html %>

</body>
</html>
