/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
    overflow-x: hidden;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 260px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 260px;
    width: 0;
    height: 100%;
    margin-left: -260px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 260px;
}

#page-content-wrapper {
    width: 100%;
    height: 100vh;
    margin-top: -60px;
    padding: 60px 15px 0px 15px;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -260px;
    padding: 60px 0px 0px 0px;
}

/* Sidebar Styles */

.sidebar-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    line-height: 30px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    cursor: default;
    /*color: #fff;*/
    /*background: rgba(255,255,255,0.2);*/
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 260px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 260px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        height: 100vh;
        margin-top: -60px;
        position: absolute;
        padding: 60px 260px 0px 0px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.sidebar-top {
    background-color: #000;
}

.sidebar-nav > li {
    background-color: #222;
}

.user-group {
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    color: #999999;
}
.group-header .users-title,
.group-header:hover {
    color: white;
    cursor: pointer;
}
.group-header.disabled:hover {
    color: #999999;
    cursor: default;
}

.glyphicon-minus-plus {
    float: right;
    margin-right: 10px;
    cursor: pointer;
    font-size: 18px;
}
.disabled .glyphicon-minus-plus:before {
    content: "";
}
.group-header.collapsed .glyphicon-minus-plus:before {
    content: "\e081";
}
.glyphicon-minus-plus:before {
    content: "\e082";
}

.glyphicon-ok-sign {
    color: green;
}
.glyphicon-remove-sign {
    color: red;
}
.glyphicon-question-sign {
    color: orange;
}

.btn-side {
    position: absolute;
    top: 58px;
    left: -1px;
    z-index: 100;
    border-bottom: solid 2px black;
    border-radius: 0px 0px 25px 0px;
    border-right: solid 2px black;
    background-color: #333;
    border-top: solid 2px black;
    padding: 2px 5px 5px 2px;
}

.btn-side .glyphicon:before {
    content: "\e079";
}

.btn-side.toggled .glyphicon:before {
    content: "\e080";
}

.btn-close-video {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #333;
    border-radius: 5px;
    border: solid 3px black;
    padding: 0px 4px 0px 4px;
    z-index: 100;
}
.btn-close-video:hover {
    border-color: lightgrey;
    color: lightgrey;
}
.btn-close-video i {
    font-size: 30px;
}

/*
    Scroll bar
*/
::-webkit-scrollbar {
    width: 9px; /* for vertical scrollbars */
    height: 9px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;

}

::-webkit-scrollbar-thumb {
    background: #999999;
    border-radius: 10px;
    width: 7px;
}

.user-group li {
    line-height: 40px;
    max-height: 50px;
}
ul.user-group {
    list-style-type: none;
    padding-left: 0px;
}
ul.user-group li {
    color: white;
    margin-left: 10px;
    line-height: 40px;
    cursor: pointer;
    padding: 5px 0px;
}
ul.user-group li:hover .avatar-thumbnail,
ul.user-group li.hover .avatar-thumbnail {
    border: 2px solid yellow;
}
ul.user-group li:hover,
ul.user-group li.hover {
    font-weight: bold;
}

.list-group-item .front{
    position: relative!important;
}

.content-main {
    height: 100%;
    position: relative;
}

.user-tab.fast-call {
    height: 0px;
    padding: 0;
}
.fast-call .btn-circle {
    top: -45px;
    right: 10px;
    position: relative;
    float: right;
}

ul#users-ul .user-tab {
    display: none!important;
}
ul#users-ul .user-tab.online,
ul#users-ul .user-tab.busy,
ul#users-ul .user-tab.inCall {
    display: block!important;
}

ul#users-ul-off .user-tab,
ul#users-ul-off .user-tab.offline {
    display: block!important;
}
ul#users-ul-off .user-tab.online,
ul#users-ul-off .user-tab.busy,
ul#users-ul-off .user-tab.inCall {
    display: none!important;
}