.btn.active:focus,
.btn:focus,
.btn:focus:active,
.btn:active,
button:focus {
    outline: none;
}
#login {
    width: 400px;
}
#account-form-container{
    width: 600px;
}
#form-login {
    margin-bottom: 0px;
}
body {
    background: lightgray;
}
.main-pane {
    color: black;
}
.dark-background {
    background-color: #222222;
}

/*
 Override btn success
 */
.btn-success,
.btn-success:focus {
    color: #ffffff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}
.btn-success:hover,
.btn-success:focus:hover {
    color: #ffffff;
    background-color: #3d853d;
    border-color: #3c7c3c;
}

/*
 Group modal
 */
@media (min-width: 768px){
    #groupModal .modal-dialog {
        width: 700px;
        margin: 30px auto;
    }
}
#groupModal .control-label{
    text-align: left;
}

/*
  Nav Bar
*/
.navbar-inverse {
    border: none;
    background-color: #333;
}
.navbar-btn {
    margin-right: 10px;
}
.navbar-btn .btn {
    min-width: 100px;
}
.navbar-inverse .navbar-brand:hover {
    cursor: default;
    color: white;
}
.container-left {
    position: fixed;
    left: 250px;
    height: 50px;
    margin-left: -250px;
    width: 250px;
}

.menu-left {
    top: 0px;
    height: 50px;
    width: 50px;
    font-size: 25px;
    padding: 11px;
    color: #9d9d9d;
    cursor: pointer;
    background-color: #000;
}

.glyphicon {
    line-height: inherit !important;
    /*display: inline !important;*/
}

/*
  Round buttons
*/
.btn-circle.btn-lg {
    width: 44px;
    height: 44px;
    padding: 0px 0px;
    font-size: 28px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle:focus,
.btn-circle:focus:active,
.btn-circle:active {
    outline: none;
}

/*
 Custom searhc field
*/
#custom-search-input {
    border: solid 1px #333;
    border-radius: 10px;
    background-color: #333;
}
#custom-search-input input {
    border: 0;
    color: #999999;
    box-shadow: none;
    background-color: #333;
    border-radius: 10px;
}
#custom-search-input button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #999999;
    padding: 0 8px 0 10px;
    border-left: solid 1px #999999;
}
#custom-search-input button:focus:active,
#custom-search-input button:focus,
#custom-search-input button:active {
    outline: none;
}
#custom-search-input .glyphicon-search {
    font-size: 14px;
    color: #999999;
}

.white-input{
    border: solid 1px #E4E4E4;
    background-color: #fff;
    border-radius: 10px;
}
.white-input input{
    border: 0;
    box-shadow: none;
    border-radius: 10px;
    background: transparent;
}
.white-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}
.white-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}
.white-input .glyphicon-search{
    font-size: 14px;
}
.form-control-feedback {
    z-index: 10;
}
.form-control-feedback:hover {
    color: #7d7d7d;
}

/*
Nav bar buttons
*/
.btn-circle.btn-default,
.btn-circle.btn-default:focus {
    background-color: #5d5d5d;
    border-color: #464545;
}
.btn-circle.btn-default.my-focus,
.btn-circle.btn-default:focus:hover {
    color: #ffffff;
    background-color: #2c2c2c;
    border-color: #272727;
}
.btn-default,
.btn-default:focus{
    background-color: #5d5d5d;
    border-color: #5d5d5d;
}
.btn-default:hover,
.btn-default:focus:hover{
    background-color: #373737;
    border-color: #2c2c2c;
}

/*
 * In chat buttons
 */
.btn-call:focus,
.btn-call {
    width: 80px;
    height: 80px;
    padding: 0px 0px;
    font-size: 45px;
    line-height: 1.33;
    border-radius: 40px;
    color: white;
    background: green;
    border-color: #006700;
}
.btn-call.btn-small {
    width: 40px;
    height: 40px;
    padding: 0px 0px;
    font-size: 23px;
}
.btn-call:hover {
    background: #00be00;
    border-color: green;
}

.btn-call.red:focus,
.btn-call.red {
    background: #800018;
    border-color: #5e0016;
}
.btn-call.red:hover {
    background: #be0009;
    border-color: #800018;
}

/*
  Outline buttons
*/

/* Black */
.btn-outline-dark,
.btn-outline-dark:hover,
.btn-outline-dark:focus {
    color: black;
    background-image: none;
    background-color: transparent;
    border-color: black;
    padding: 2px 15px;
    width: 120px;
    margin-top: -2px;
}
.btn-outline-dark.active,
.btn-outline-dark:hover {
    color: #fff;
    background-color: black;
    border-color: black;
}

/* Blue */
.btn-outline-primary,
.btn-outline-primary:hover,
.btn-outline-primary:focus {
    color: #0275d8;
    background-image: none;
    background-color: transparent;
    border-color: #0275d8;
}
.modal-open .btn-outline-primary.active,
.btn-outline-primary:hover {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}

/* Red */
.btn-outline-danger,
.btn-outline-danger:hover,
.btn-outline-danger:focus {
    color: #d62c1a;
    background-image: none;
    background-color: transparent;
    border-color: #d62c1a;
    padding: 10px 10px;
}
.modal-open .btn-outline-danger.active,
.btn-outline-danger:hover {
    color: #fff;
    background-color: #d62c1a;
    border-color: #d62c1a;
}

/* Green */
.btn-outline-success,
.btn-outline-success:hover,
.btn-outline-success:focus {
    color: #5cb85c;
    background-image: none;
    background-color: transparent;
    border-color: #5cb85c;
}

.modal-open .btn-outline-success.active,
.btn-outline-success:hover {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

/*
 * More buttons
 */
.btn-white {
    color: #333;
    background-color: #fff;
    border: solid 1px #ccc;
}
.btn-white:hover {
    color: #333;
    background-color: #adadad;
    border-color: #696969;
}
.btn-white.active, .btn-white:active {
    color: #333;
    background-color: #adadad;
    border-color: #696969;
}
.btn-warning.no-clickable:hover {
    cursor: default;
    color: #ffffff;
    background-color: #f39c12;
    border-color: #f39c12;
}

/*
 * Avatar Upload
 */
.kv-avatar .file-preview-frame,.kv-avatar .file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}
.file-default-preview {
    text-align: center;
}
.btn-file {
    margin-top: 10px;
}
.fileinput-remove {
    margin-top: 10px;
}
.file-preview-frame {
    text-align: center;
    width: 100%;
}
.main-pane .file-preview{
    border-color: #5c5c5c;
}
.file-default-preview img{
    width: auto!important;
    height: 160px;
}

/*
 * Thumbnail
 */
.avatar-thumbnail-square.inCall,
.avatar-thumbnail.inCall{
    border: 2px solid cyan;
}
.avatar-thumbnail-square.online,
.avatar-thumbnail.online{
    border: 2px solid #00FF00;
}
.avatar-thumbnail-square.offline,
.avatar-thumbnail.offline{
    border: 2px solid #333333;
}
.navbar-header .avatar-thumbnail.offline{
    border: 2px solid black;
}
.avatar-thumbnail-square.busy,
.avatar-thumbnail.busy{
    border: 2px solid red;
}
.avatar-thumbnail{
    border-radius: 25px;
}
.user-tab span {
    /*position: relative;*/
    /*top: -45px;*/
    /*left: 50px;*/
}
.navbar-header .avatar-thumbnail{
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}
.avatar-thumbnail-square {
    border-radius: 5px;
    border: 2px solid lightgrey;
    margin-right: 10px;
}
.avatar-thumbnail-square.dark {
    border: 2px solid #333;
}

/*
 * List groups
 */
.list-group.scrollable {
    border: 1px solid #464545;
    margin-bottom: 0px;
}
.scrollable .list-group-item:first-child{
    border: none;
    border-bottom: 1px solid #464545;
}
.scrollable .list-group-item{
    border: none;
    border-bottom: 1px solid #464545;
    border-top: 1px solid #464545;
}
.scrollable .list-group-item:last-child{
    border: none;
    border-top: 1px solid #464545;
}
.scrollable .list-group-item:only-child{
    border: none;
}

/*
* Chat pane
*/
.chat-header{
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    position: absolute;
    width: 100%;
    z-index: 10;
    background-color: #d3d3d3;
    padding-top: 10px;
}
.chat-body {
    overflow-y: scroll;
    overflow-x: hidden;
    bottom: 66px;
    position: absolute;
    margin-right: -10px;
    width: 100%;
    top: 151px;
}
.chat-footer{
    border-top: 1px solid gray;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 66px;
}
.group-title {
    top: 40%;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    -webkit-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
}
.group-members{
    list-style-type: none;
    padding-left: 0px;
}
.member-tab {
    line-height: 25px;
    max-height: 35px;
    color: black;
    padding: 5px 15px 5px 0px;
}
.member-tab .avatar-thumbnail-square{
    margin-right: 5px;
}

/*
 * Conference video
 */
.conference-video {
    background-color: red;
}
.conference-video[id^=remote] {
    background-color: cyan;
}
@media (min-width: 10px) {
    .conference-video{
        width: 320px;
        height: 240px;
    }

}
@media (min-width: 1280px) {
    .conference-video{
        width: 480px;
        height: 360px;
    }
    .conference-video.fixSizeSmall{
        width: 320px;
        height: 240px;
    }
}
@media (min-width: 1650px) {
    .conference-video{
        width: 640px;
        height: 480px;
    }
    .conference-video.fixSizeSmall{
        width: 320px;
        height: 240px;
    }
    .conference-video.fixSizeMedium{
        width: 480px;
        height: 360px;
    }
}
.conference-video.fixSizeBig[id^=local] {
    width: 320px;
    height: 240px;
    position: fixed!important;
    bottom: 0;
    right: 0;
    border-top: 2px solid black;
    border-left: 2px solid black;
}
.conference-video.fixSizeBig[id^=remote] {
    position: fixed!important;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    z-index: -1;
}

/*
 * Calling overlay
 */
#callingModal .modal-dialog {
    width: 500px;
}
#callerImage {
    animation: call-animation 1s;
    animation-iteration-count: infinite;
}
@keyframes call-animation {
    0% {
        width: 130px;
        height: 130px;
        margin-top: 3px;
        margin-bottom: 3px;
        border: 2px solid #000;
    }
    50% {
        width: 136px;
        height: 136px;
        margin-top: 0px;
        margin-bottom: 0px;
        border: 2px solid #14ce00;
    }
    100% {
        width: 130px;
        height: 130px;
        margin-top: 3px;
        margin-bottom: 3px;
        border: 2px solid #000;
    }
}

.glyph-135deg {
    transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
}

/**
 * Gif Loader
 */
.gif-loader{
    height: 20px;
    float: right;
}

/**
 * Notifications
 */
.notification-li {
    position: relative
}

.notification-container {
    background-color: #d3d3d3;
    border: 2px solid rgb(0, 0, 0);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    overflow: visible;
    position: absolute;
    top: 65px;
    margin-left: -300px;
    width: 350px;
    z-index: -1;
    display: none;
    border-radius: 10px;
}

.notification-container:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    color: rgb(0, 0, 0);
    border: 15px solid black;
    border-color: rgb(0, 0, 0) rgba(0, 0, 0, 0) black;
    margin-top: -30px;
    margin-left: 305px;
}

.notification-title {
    z-index: 1000;
    font-weight: bold;
    padding: 8px;
    font-size: 13px;
    color: lightgrey;
    background-color: #5c5c5c;
    border-bottom: 2px solid #000000;
    border-radius: 8px 8px 0px 0px;
}

.notification-body {
    padding: 15px 5px 15px 5px;
    min-height: 300px;
    background-color: rgba(92, 92, 92, 0);
    color: black;
}

.notification-footer {
    background-color: rgba(92, 92, 92, 0);
    text-align: center;
    font-weight: bold;
    padding: 8px;
    font-size: 12px;
    border-top: 2px solid #000000;
    border-radius: 0px 0px 10px 0px;
    color: black;
}

.notification-count {
    padding: 1px 6px 1px 6px;
    background: #d62c1a;
    color: #ffffff;
    font-weight: bold;
    margin-left: 30px;
    border-radius: 9px;
    position: absolute;
    margin-top: -55px;
    font-size: 13px;
    z-index: 10;
}
.notification-container .list-group-item {
    background-color: rgba(48, 48, 48, 0);
}
.notification-container .list-group-item {
    border: 0px;
    border-bottom: 1px solid #464545;
    border-radius: 0px!important;
}
.force-display{
    display: block!important;
}

/**
 * Chat style
 */
.bubble {
    float: left;
    width: auto;
    max-width: 80%;
    position: relative;
    clear: both;
    background: #95c2fd;
    padding: 0.5em 1em;
    border-radius: 10px;
    box-shadow: 0 5px 30px rgba(255, 255, 255, 0.1);
    margin-bottom: 5px;
    color: rgb(211, 211, 211);
    word-wrap: break-word;
    font-size: 1em;
    margin-top: 10px;
    background: linear-gradient(90deg, rgb(51, 51, 51) 00%, rgb(92, 92, 92) 100%);
}
.bubble:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 8px;
    left: -10px;

    border-bottom: 10px solid transparent;
    border-right: 10px solid rgb(51, 51, 51);
    border-top: 10px solid transparent;

    clear: both;
}

.bubble-alt {
    float: right;
    background: linear-gradient(40deg, rgb(92, 92, 92) 00%, rgb(51, 51, 51) 100%);
}
.bubble-alt:after {
    left: auto;
    border-right: 0px;
    border-left: 10px solid rgb(51, 51, 51);
    right: -10px;
}

.bubble-load {
    clear: both;
    margin-right: auto;
    margin-left: auto;
    display: block!important;
}

/* Panel footer */
.panel-footer {
    padding: 10px 15px;
    background-color: inherit;
    border-top: 1px solid #464545;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    text-align: right;
}

/* Top separartor */
.top-separator {
    width: 1px;
    height: 44px;
    background-color: #464545;
    margin-right: 10px;
}

.clickable-mute {
    height: 48px;
    vertical-align: middle;
    display: table-cell;
    text-align: left;
}