.top0{ margin-top: 0px; }
.top10{ margin-top: 10px; }
.top15{ margin-top: 15px; }
.top20{ margin-top: 20px; }
.top30{ margin-top: 30px; }
.top40{ margin-top: 40px; }
.top50{ margin-top: 50px; }
.top60{ margin-top: 60px; }
.top70{ margin-top: 70px; }
.top80{ margin-top: 80px; }
.top90{ margin-top: 90px; }
.top100{ margin-top: 100px; }

.bot0{ margin-bottom: 0px; }
.bot10{ margin-bottom: 10px; }
.bot20{ margin-bottom: 20px; }
.bot30{ margin-bottom: 30px; }
.bot40{ margin-bottom: 40px; }
.bot50{ margin-bottom: 50px; }
.bot60{ margin-bottom: 60px; }
.bot70{ margin-bottom: 70px; }
.bot80{ margin-bottom: 80px; }
.bot90{ margin-bottom: 90px; }
.bot100{ margin-bottom: 100px; }

.left10{ margin-left: 10px; }
.left20{ margin-left: 20px; }
.left30{ margin-left: 30px; }
.left40{ margin-left: 40px; }
.left50{ margin-left: 50px; }
.left60{ margin-left: 60px; }
.left70{ margin-left: 70px; }
.left80{ margin-left: 80px; }
.left90{ margin-left: 90px; }
.left100{ margin-left: 100px; }

.right5{ margin-right: 5px; }
.right10{ margin-right: 10px; }
.right20{ margin-right: 20px; }
.right30{ margin-right: 30px; }
.right40{ margin-right: 40px; }
.right50{ margin-right: 50px; }
.right60{ margin-right: 60px; }
.right70{ margin-right: 70px; }
.right80{ margin-right: 80px; }
.right90{ margin-right: 90px; }
.right100{ margin-right: 100px; }

.left260{
    padding-left: 260px;
}

.left{ float: left;}
.right{ float: right;}
.bottom {position: absolute; bottom: 0px;}
.center{ text-align: center; }
.text-right{ text-align: right; }
.center-vertical-parent {
    height: 100vh;
}
.center-vertical {
    top: 50%;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.center-horizontal {
    margin-right: auto;
    margin-left: auto;
}
.scrollable {
    height: auto;
    overflow-x: hidden;
}
.max200 { max-height: 200px; }
.max250 { max-height: 250px; }
.max300 { max-height: 300px; }
.max350 { max-height: 350px; }
.max400 { max-height: 400px; }

.row-eq-height{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
