<div class="modal-alert modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<!--<button data-dismiss="modal" class="close">x</button>-->
				<h4></h4>
			</div>
			<div class="modal-body">
				<p></p>
			</div>
			<div class="modal-footer">
				<button data-dismiss="modal" id="ok" class="btn btn-primary">OK</button>
			</div>
		</div>
	</div>
</div>