<div class="modal-form-errors modal fade">
    <div class="modal-dialog">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <button data-dismiss="modal" class="close">x</button>
                <h4>Whoops!</h4>
            </div>
            <div class="panel-body">It looks like there was a problem.
                <ul></ul>
            </div>
            <div class="panel-footer">
                <button data-dismiss="modal" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>
