<div id="get-credentials" class="modal fade">
	<div class="modal-dialog"><div class="alert alert-danger hide"></div></div>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button data-dismiss="modal" class="close">x</button>
				<h4>Retrieve Password</h4>
			</div>
			<div class="modal-body">
				<form method="post" id="get-credentials-form" class="well">
					<div class="form-group">
						<label>Please enter the email address associated with your account</label>
						<input type="text" id="email-tf" name="email" class="form-control required"/>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button data-dismiss="modal" id="cancel" class="btn btn-default">Cancel</button>
				<button type="submit" id="retrieve-password-submit" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</div>
</div>