<!-- Modal -->
<div id="requestsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Friends request</h4>
            </div>
            <div class="modal-body">

                <ul id="requests-list" class="list-group">
                    <li class="list-group-item container-fluid"><p class="left">Loading...</p></li>
                </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script src="/js/controllers/top/requestsController.js"></script>