<%
var homeFocus = "";
var setFocus = "";
if (settings) {
    var setFocus = "my-focus";
} else {
    var homeFocus = "my-focus";
} %>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div id="avatar-image" class="avatar-thumbnail offline">
                <!--<img id="avatar-image" src="/uploads/default.jpg"/>-->
            </div>
            <div class="navbar-brand"><span id="navUserName"></span></div>
        </div>
        <ul id="top-buttons-navbar" class="nav navbar-nav navbar-right">
            <li>
                <button id="btn-home" type="button" class="btn navbar-btn btn-default btn-circle btn-lg <%= homeFocus %>"><i class="glyphicon glyphicon-home"></i></button>
            </li>
            <li>
                <button id="btn-config" type="button" class="btn navbar-btn btn-default btn-circle btn-lg <%= setFocus %>"><i class="glyphicon glyphicon-cog"></i></button>
            </li>
            <li class="top-separator navbar-btn"></li>
            <li id="notifications-li" class="notification-li" >
                <button id="btn-notifications" type="button" class="btn navbar-btn btn-default btn-circle btn-lg"><i class="icon-users"></i></button>
                <% include notification.html %>
            </li>
            <li>
                <button id="btn-logout" type="button" class="btn navbar-btn btn-default btn-circle btn-lg"><i class="glyphicon glyphicon-off"></i></button>
            </li>
        </ul>
    </div>
</nav>

<script src="/js/controllers/top/navController.js"></script>