
<span class="notification-count" style="display: none;">X</span>
<div class="notification-container">
    <div class="notification-title">Friend requests</div>
    <div class="notification-body">
        <div class="notification-loader center">
            <img style="height: 20px;" src="/img/loader-black.gif"/>
        </div>
        <div class="notification-list">
            <ul id="requests-list" class="list-group">
                <li class="list-group-item container-fluid"><p class="left">Loading...</p></li>
            </ul>
        </div>
    </div>
    <div class="notification-footer">
        See All
    </div>
</div>

<script src="/js/controllers/notificationController.js"></script>