<!-- Modal -->
<div id="groupModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <form class="modal-content" id="createGroupForm" method="post" action="/group/create">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create new group</h4>
            </div>
            <div class="modal-body row">

                <div id="errorsGroupDiv"></div>

                <input type="hidden" name="groupId"/>

                <div class="col-md-6">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-12">Select members from below</label>
                        </div>
                        <div class="white-input bot10">
                            <div class="input-group col-md-12">
                                <input id="group-users-input" type="text" class="form-control input" placeholder="Search..."/>
                            </div>
                        </div>
                        <ul id="group-users-left" class="list-group scrollable max300">
                            <li class="list-group-item container-fluid"><p class="left bot0">Loading...</p></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-12">Group name</label>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input id="group-name-input" type="text" name="name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-12">Group members</label>
                        </div>
                        <ul id="group-users-right" class="list-group scrollable max300">
                        </ul>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button id="submitBut" type="submit" class="btn btn-success right">Create</button>
                <button type="button" class="btn btn-default right10" data-dismiss="modal">Close</button>
            </div>
        </form>

    </div>
</div>

<script src="/js/controllers/sidebar/groupController.js"></script>