<!-- Modal -->
<div id="friendsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add friend</h4>
            </div>
            <div class="modal-body">

                <div id="errorsAddFriends"></div>

                <div class="white-input bot10">
                    <div class="input-group col-md-12">
                        <input id="friends-input" type="text" class="form-control input" placeholder="Search..."/>
                    </div>
                </div>

                <ul id="friends-search" class="list-group scrollable max300">
                    <li class="list-group-item container-fluid"><p class="left bot0">Loading...</p></li>
                </ul>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script src="/js/controllers/sidebar/friendsController.js"></script>