<!-- Modal -->
<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete friend</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div id="errorsDeletes" class="col-sm-12"></div>
                </div>
                <div class="row">
                    <!--Users-->
                    <div class="col-sm-12">
                        <div class="white-input bot10">
                            <div class="input-group col-md-12">
                                <input id="delete-friend-input" type="text" class="form-control input" placeholder="Search friend..."/>
                            </div>
                        </div>

                        <ul id="delete-friend-search" class="list-group scrollable max300">
                            <li class="list-group-item container-fluid"><p class="left bot0">Loading...</p></li>
                        </ul>
                    </div>
                    <!--Groups-->
                    <!--<div class="col-sm-6">-->
                        <!--<div class="white-input bot10">-->
                            <!--<div class="input-group col-md-12">-->
                                <!--<input id="delete-group-input" type="text" class="form-control input" placeholder="Search group..."/>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<ul id="delete-group-search" class="list-group scrollable max300">-->
                            <!--<li class="list-group-item container-fluid"><p class="left bot0">Loading...</p></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script src="/js/controllers/sidebar/deleteController.js"></script>