<div class="container-fluid top10">
    <button id="addFriendButton" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#friendsModal">Add friend</button>
    <button id="deleteUserGroupButton" type="button" data-toggle="modal" data-target="#deleteModal" class="btn right text-center btn-outline-danger" >Delete friend</button>
    <!--<button id="createGroupButton" type="button" class="btn right btn-outline-success" data-toggle="modal" data-target="#groupModal">New group</button>-->
</div>
<div class="container-fluid top10">
    <!--Delete friend group button here-->
</div>
<div class="container-fluid top10" style="padding: 0px 10px;">
    <ul class="sidebar-nav">

        <div id="custom-search-input">
            <div class="input-group">
                <input id="filterUsers" type="text" class="form-control input" placeholder="Filter"/>
                <span class="input-group-btn">
                    <button class="btn btn-info btn" type="button">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </div>

        <!-- Online -->
        <div class="user-group top20">
            <li id="users-header" class="group-header top10" data-toggle="collapse" data-target="#users-ul">
                <i class="icon-user left10"></i>
                <span class="users-title" id="users-title"> Online Users</span>
                <span class="glyphicon glyphicon-minus-plus"></span>
            </li>
            <ul id="users-ul" class="user-group container-fluid in">
                <li>Loading...</li>
            </ul>
        </div>

        <!-- Offline -->
        <div class="user-group top20">
            <li id="users-header-off" class="group-header top10" data-toggle="collapse" data-target="#users-ul-off">
                <i class="icon-user left10"></i>
                <span class="users-title" id="users-title-off"> Offline Users</span>
                <span class="glyphicon glyphicon-minus-plus"></span>
            </li>
            <ul id="users-ul-off" class="user-group container-fluid">
                <li>Loading...</li>
            </ul>
        </div>

        <!-- Groups -->
        <!--<div class="user-group top20" style="display:none;">-->
            <!--<li id="group-header" class="group-header top10" data-toggle="collapse" data-target="#group-ul">-->
                <!--<p>-->
                    <!--<i class="icon-users left10"></i>-->
                    <!--<span id="group-title"> Groups</span>-->
                    <!--<span class="glyphicon glyphicon-minus-plus"></span></p>-->
            <!--</li>-->
            <!--<ul id="group-ul" class="collapse user-group in">-->
                <!--<li>Loading...</li>-->
            <!--</ul>-->
        <!--</div>-->

    </ul>
</div>

<script src="/js/controllers/sidebar/sidebarController.js"></script>